@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --medium-slate-blue: #7B68EE;
  --periwinkle: #CCCCFF;
  --medium-slate-blue-dark: #6A5ACD;
  --periwinkle-light: #E6E6FF;
  --medium-slate-blue-light: #9370DB;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
